.foot{
	background-image : url('../img/foot1.jpg');
	background-repeat:no-repeat;
	min-width:  450px ;
	max-width:  450px ;
	height: 640px ;
	padding : 5px;
	float: left;
	margin: 10px;
	margin-top: -110px;

	
	
}
.square {
    width: 100px;
    height: 160px;
    line-height: 80px;
    border: 1px solid black;
    cursor: pointer;
    
}
.players{
	float: left; 
	min-width: 710px; 
	max-width: 710px;
	max-height: 670px;
	 
	 text-align: center ; 
	 margin-top: -110px;
	 margin-left: -5px;


}

.player{
	display: inline-block;
	margin: 5px;
	border: 2px solid #eca7da;
	

}
.name{
	display : none;
}
.player > img {
	height: 70px;
	width : 70px ;
}


.ligne {
	text-align : center;
	
}

.carre{
	display: inline-block;
	width: 75px;
	height : 75px;
	background-image : url('../img/croix.png');
	margin: 35px 15px;
}
.player-names{

	font-size: 0.7em;

	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 80px;
    overflow: hidden;
    background-color: white;
    box-shadow:  5px #888888;
}

li {
    float: right;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #e7746f;
}

body{
	background-color: #efefef;
}

